{{!--
Re-usable card for linking to posts
--}}

{{!-- <article class="gh-card {{post_class}}">
    <a class="gh-card-link" href="{{url}}">
        <div class="gh-card-content">
            <span class="gh-card-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
            <h2 class="gh-card-title">{{title}}</h2>
            <p>{{excerpt}}</p>
            <strong>Read more</strong>
        </div>
    </a>
</article> --}}


<article class="blog-list {{post_class}}">
    <div class="list-block">
        <span class="list-card-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
        </span>

        <h2>
            <a class="list-card-link" href="{{url}}">
                {{title}}
            </a>
        </h2>

        <p>{{excerpt}}</p>

        <div class="btn-read"><a href="/is-dribbble-worth-your-time/">Read More</a></div>
    </div>
</article>
