<div class="pagination-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="post-pagination clearfix">
          <div class="row">
            {{#if prev}}
              <div class="col">
                <p><a href="{{page_url prev}}">上一页</a></p>
              </div>
            {{else}}
              <div class="col">
              </div>
            {{/if}}

            <div class="col" style="text-align: center; display:flex; justify-content: center; align-items: center;">
              <p class="mb-0">当前 {{page}} / {{pages}}</p>
            </div>
            {{#if next}}
              <div class="col" style="text-align: right;">
                <p class="mb-0"><a href="{{page_url next}}">下一页</a></p>
              </div>
            {{else}}
              <div class="col">
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>