<article data-aos="fade-in" data-aos-offset="50" class="blog-list {{post_class}}">
    <div class="list-block">
        <span class="list-card-meta">
            <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>

            {{#is "index"}}
                <span class="list-card-tag">{{tags}}</span>
            {{/is}}
        </span>

        <h2>
            <a class="list-card-link" href="{{url}}">{{title}}</a>
        </h2>

        <p>{{excerpt}}</p>
    </div>
</article>
